{{

  "semi": false,  "singleQuote": true,

  "singleQuote": true,  "semi": false,

  "printWidth": 100,  "printWidth": 100,

  "trailingComma": "none",  "trailingComma": "none"

  "arrowParens": "avoid"}

}
