:root {
  --el-color-primary: #246bfd;
  --el-color-success: #10b981;
  --el-color-warning: #f97316;
  --el-color-danger: #ef4444;
  --el-color-info: #0f172a;
  --el-font-size-base: 14px;
  --el-border-radius-base: 12px;
}
